---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---
<!-- Hero -->
<div>
	<div class="flex flex-col justify-center text-center items-center align- mt-[15vw] mb-0">
		<h1 class="text-[8vw]">Welcome.</h1>
		<div>
			<img
			src="/PixelMeV2.gif" 
			alt="PixelFiona"
			width="700"
			height="700"
			/>
		</div>
	</div>
</div>
